.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 14px 0 0;
  padding: 6px;
  /* outline: 0; */
  cursor: pointer;
  border: 2px solid rgb(14, 30, 37);
  border-radius: 4px;
  background-color: #2d3b41;
  color: #fff;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  background-color: rgb(14, 30, 37);
  text-decoration: none;
}
